/* You can add global styles to this file, and also import other style files */
.connect_btn_div {
    padding: 8% 40%;
    button {
        width: 100%;
        background: #ebf2ff;
        padding: 20px 0;
        font-size: 21px;
        color: #5a5151;
        border: 0px;
    }
}